<div class="row">
  <div class="col-md-12">
    <div class="hit-box-container col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <img src="http://spencermortensen.com/articles/bezier-circle/images/bezier-circle-big.jpg"
           class="img img-responsive hit-box">
    </div>
    <div class="hit-box-container col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <img id="img-right" src="http://spencermortensen.com/articles/bezier-circle/images/bezier-circle-big.jpg"
           class="img img-responsive hit-box">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="hit-box-container col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <img src="http://spencermortensen.com/articles/bezier-circle/images/bezier-circle-big.jpg"
           class="img img-responsive hit-box">
    </div>
    <div class="hit-box-container col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <img id="img-right" src="http://spencermortensen.com/articles/bezier-circle/images/bezier-circle-big.jpg"
           class="img img-responsive hit-box">
    </div>
  </div>
</div>