<video #myVideo id="myVideo" width="100%" height="90%" preload autoplay loop muted></video>
<div class="row">
    <div class="col-md-6 hit-box-upper">
        <img class="img img-responsive hit-box-left-upper hit-box" src="{{ cdnEndpoint + hitBoxImages[0] }}">
    </div>
    <div class="col-md-6 hit-box-upper">
        <img class="img img-responsive hit-box-right-upper hit-box" src="{{ cdnEndpoint + hitBoxImages[0] }}">
    </div>
</div>
<div class="row hit-box-container-lower">
    <div class="col-md-6 hit-box-lower">
        <img class="img img-responsive hit-box-left-lower hit-box" src="{{ cdnEndpoint + hitBoxImages[0] }}">
    </div>
    <div class="col-md-6 hit-box-lower">
        <img class="img img-responsive hit-box-right-lower hit-box" src="{{ cdnEndpoint + hitBoxImages[0] }}">
    </div>
</div>

