.hit-box{
    width: 35%;
    margin-left: 33%;
}

.img {

}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.hit-box-upper{
    margin: auto;
    margin-top: -65%;
}
.hit-box-lower{
    margin: -30% 0% 0% 0%;
}

.hit-box-left-lower {
    margin-left: 15% !important;
}

.hit-box-right-lower {
    margin-left: 55% !important;
}

.hit-indicator {
    width: 20%;
}