.optionContainer
{
    background: url("../../assets/options/MainMenu.png") no-repeat center;
    position: relative;
    top: 0;
    left: 0;
    height: 1000px;
    width: 100%;
    background-size: cover;
}

.backingicon
{
    background: url("../../assets/options/BackingIcon.png");
    position: relative;
    top: 0;
    left: 0;
}

.soundkiticon
{
    background: url("../../assets/options/soundkiticon.png");
    position: relative;
    top:0;
    left:0;
}



